* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.piano {
    display: flex;
    margin: 90px;
    padding: 85px 40px 0 40px;
    height: 360px;
    background-color: rgb(235, 50, 77);
    border-radius: 2rem 2rem 0 0;
}

.piano__keys {
    position: relative;
}

.piano__whiteKeys {
    display: flex
}

.piano__whiteKey {
    width: 68px;
    height: 280px;
    background-color: #fff;
    border-color: rgba(221, 221, 221, 0.534);
}

.piano__blackKeys {
    position: relative;
    display: flex;
}

.piano__blackKey {
    width: 35px;
    height: 200px;
    background-color: #000;
    position: absolute;
}